@import '@styles/variables';

.error {
  text-align: center;

  & > *:not(:last-child) {
    margin-bottom: 24px;
  }

  &__header {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
  }
}
