$color-champagne: #ffe5d4;
$color-red: #efc7c2;
$color-green: #bfd3c1;
$color-green-bright: #bfe1c1;
$color-dark: #010101;

$border-radius-s: 10px;

$shadow-dark: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);

$font-family-base: 'Roboto Mono', monospace;

$transition-duration: 0.2s;

$container-width: 1240px;
$container-padding-x: 20px;
