@import './normalize';
@import './fonts';
@import './variables';
@import './utils';

body {
  font-family: $font-family-base;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: $color-dark;
  background-color: $color-champagne;
}

button {
  transition-duration: $transition-duration;
}

h1,
h2 {
  font-weight: 600;
  line-height: 1;
}
